{% extends 'baseAdmin.html.twig' %}

{% block body %}
    <!-- main content -->
    <div class="row mt">
        <section id="main-content">
            <section class="wrapper">
                <a href="{{ path('showCat') }}"> back </a>
                <h3><i class="fa fa-angle-right"></i> Category and SubCategory Form</h3>
                <!-- BASIC FORM VALIDATION -->
                <div class="row mt">
                    <div class="col-lg-12">
                        <h4><i class="fa fa-angle-right"></i> Ajout de Category</h4>
                        <div class="form-panel">
                            {{ form_start(formAjoutCategory) }}
                            {{ form_widget(formAjoutCategory) }}
                            {{ form_errors(formAjoutCategory) }}
                            <br>
                            <div class="col-lg-offset-2">
                                <button class="btn btn-theme" type="submit">Save</button>
                                <button class="btn btn-theme04" type="reset">Cancel</button>
                            </div>
                            {{ form_end(formAjoutCategory) }}
                        </div>
                        <!-- /form-panel -->
                    </div>
                    <!-- /col-lg-12 -->
                </div>
                <!-- /row -->
                <!-- FORM VALIDATION -->
                <div class="row mt">
                    <div class="col-lg-12">
                        <h4><i class="fa fa-angle-right"></i> Ajout de SubCategory</h4>
                        <div class="form-panel">
                            <div class=" form">
                                {{ form_start(formAjoutSubCategory) }}
                                {{ form_widget(formAjoutSubCategory) }}
                                {{ form_errors(formAjoutSubCategory) }}
                                <br>
                                <div class="col-lg-offset-2">
                                    <button class="btn btn-theme" type="submit">Save</button>
                                    <button class="btn btn-theme04" type="reset">Cancel</button>
                                </div>
                                {{ form_end(formAjoutSubCategory) }}
                            </div>
                        </div>
                        <!-- /form-panel -->
                    </div>
                    <!-- /col-lg-12 -->
                </div>
            </section>
            <!-- /wrapper -->
        </section>
    </div>
    <!-- end main content -->

{% endblock %}

