{% extends 'base.html.twig' %}

{% block title %} Cart {% endblock %}

{% block body %}
    <main class="main">
        <!-- home -->

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="home__content">
                        <h1 class="home__title">Votre Panier</h1>
                        {% if dataPanier | length >0 %}
                            <table class="table table-bordered" style="size: 150px">
                                <thead>
                                <tr>
                                    <th class="home__text">Title NFT</th>
                                    <th class="home__text">Description</th>
                                    <th class="home__text">Image</th>
                                    <th class="home__text">Prix</th>
                                    <th class="home__text">Actions</th>
                                </tr>
                                </thead>
                                {% for element in dataPanier %}
                                    <tbody>
                                    <tr style="text-align: center">
                                        <td class="home__text">{{ element.produit.title }}</td>
                                        <td class="home__text">{{ element.produit.description }} </td>
                                        <td class="home__text"><img src="{{ asset('NFTS/'~ element.produit.image) }}"></td>
                                        <td class="home__text">{{ element.produit.price }} </td>
                                        <td>
                                            <a href="{{path('delete_panier', {id: element.produit.id})}}">
                                                <button class="asset__btn" type="submit" style="color: red">
                                                    <i class="fa fa-trash" ></i> </button>
                                            </a>
                                        </td>
                                    </tr>

                                    </tbody>
                                {% endfor %}
                                <tfoot>
                                {% set tab=0 %}
                                {% for element in dataPanier %}
                                    {% set tab=tab+element.produit.price %}
                                {% endfor %}
                                <tr>
                                    <td colspan="3" class="home__title">Total : </td>
                                    <td colspan="2" class="home__text" style="text-align: center">{{ tab }}</td>
                                </tr>
                                </tfoot>
                            </table>

                        {% else %}
                                    <h5 class="home__text"> Votre panier est vide</h5>
                        {% endif %}

                        <div class="sign__form"  style="margin-left: 700px;size: 150px">
                            {% set tab=0 %}
                            {% for element in dataPanier %}
                                {% set tab=tab+element.produit.price %}
                            {% endfor %}
                            <span class="home__text" >Total :{{ tab }}</span>


                            {%  if is_granted('IS_AUTHENTICATED_FULLY')  %}


                            {% if user_wallet.findOneBy({'client' :  app.user.id }).balance >=  tab  and tab != 0 %}
                                <a href="{{path('TransactionWallet',{'id': cart.id })}}" class="home__btn home__btn--clr">
                                    Procéder au paiement avec wallet</a>
                                <span class="sign__delimiter" style="margin-top: 30px">Or</span>
                                <a href="{{path('stripe',{'id': cart.id })}}" class="home__btn home__btn--clr">
                                    Procéder au paiement avec carte bancaire
                                </a>
                            {% else %}
                            <a href="{{path('TransactionWallet',{'id': cart.id })}}" class="home__btn home__btn" style="pointer-events: none;
                            cursor: default;color: #6c757d">
                                Procéder au paiement avec wallet</a>
                            <span class="sign__delimiter" style="margin-top: 30px">Or</span>
                            <a href="{{path('stripe',{'id': cart.id })}}" class="home__btn home__btn" style="pointer-events: none;
                            cursor: default;color: #6c757d">
                                Procéder au paiement avec carte bancaire
                            </a>
                            {% endif %}

                            {% else %}
                            <a href="{{path('app_login')}}" class="home__btn home__btn--clr" >
                                Procéder au paiement avec wallet</a>
                            <span class="sign__delimiter" style="margin-top: 30px">Or</span>
                            <a href="{{path('app_login')}}" class="home__btn home__btn--clr" >
                                Procéder au paiement avec carte bancaire
                            </a>
                        {% endif %}



                        </div>

                    </div>

                </div>
            </div>
        </div>

        <!-- end home -->
    </main>

{% endblock %}
