{% extends "base.html.twig" %}
{% block body %}
    <style>

        .card {
            background: #222;
            border: 1px solid #dd2476;
            color: rgba(250, 250, 250, 0.8);
            margin-bottom: 2rem;
        }
        .has-search .form-control {
            padding-left: 2.375rem;
        }

        .has-search .form-control-feedback {
            position: absolute;
            z-index: 2;
            display: block;
            width: 2.375rem;
            height: 2.375rem;
            line-height: 2.375rem;
            text-align: center;
            pointer-events: none;
            color: #aaa;
        }


        .filter-buttons {
            display: flex;
            margin-bottom: 20px;
        }

        .list-view-button,
        .grid-view-button {
            color: white;
            border: 1px solid white;
            padding: 5px;
            font-size: 14px;
            cursor: pointer;
            border-radius: 3px;
        }

        .list-view-button:hover,
        .grid-view-button:hover {
            background: white;
            color: #0e2439;
        }

        .list-view-button {
            margin-right: 10px;
        }

        .page-item.active .page-link {

            z-index: 1;
            color: #fff;
            background-color: #dd2476;
            border-color: #dd2476;


        }

    </style>
    <main class="main container">
        <div class="row row--grid">
            <div class="col-12 mb-5">
                <div class="main__title main__title--border-top">
                    <h2>Nfts Ranking</h2>
                </div>
            </div>

            <div class="filter-buttons justify-content-end">
                <div class="list-view-button"><i class="fa fa-bars" aria-hidden="true"></i> NFTS View</div>
                <div class="grid-view-button"><i class="fa fa-bars" aria-hidden="true"></i> Owners View</div>
            </div>
        <div id="list-view">
            <table class="table table-borderless table-striped border-dark mt-5" id="nftRanking">

                <style>
                    .table-bg{
                        background: #dd2476 !important;
                    }

                </style>

                <style>
                    i{
                        color:white;
                    }
                    i:hover{
                        color:black;
                    }
                </style>

                <thead >
                <tr class="table-bg text-light">

                    <th scope="" onclick="sortNftsNumbers(0)"># <i class="fa fa-arrows-v"></i></th>
                    <th scope="">Image</th>
                    <th scope="" onclick="sortNfts(2)">Title <i class="fa fa-angle-double-down"></i></th>
                    <th class="" onclick="sortNfts(3)">Creation Date <i class="fa fa-angle-double-down"></i></th>
                    <th scope="" onclick="sortNftsNumbers(4)">Likes <i class="fa fa-angle-double-down"></i></th>
                    <th scope="" onclick="sortNfts(5)">Category <i class="fa fa-angle-double-down"></i></th>
                    <th scope="" onclick="sortNfts(6)">SubCategory <i class="fa fa-angle-double-down"></i></th>
                    <th scope="" onclick="sortNftsNumbers(7)">Price <i class="fa fa-angle-double-down"></i></th>
                    <th scope="" onclick="sortNfts(8)">Currency <i class="fa fa-angle-double-down"></i></th>
                    <th scope="" onclick="sortNfts(9)">Owner <i class="fa fa-angle-double-down"></i></th>

                </tr>
                </thead>
                <tbody class="bg-light">

                {% for nft in nfts %}
                    <tr>
                        <td scope="row" style="font-weight: bold;">{{ loop.index }}</td>
                        <td><a href="{{ path('nftItem',{'id':nft.id}) }}"><img src="{{ asset('NFTS/'~ nft.image) }}" style="width: 70px; height: 70px;"></a></td>
                        <a href="{{ path('nftItem',{'id':nft.id}) }}" style="color:black"><td style="text-decoration: underline;">{{ nft.title }}</td></a>
                        <td>{{ nft.creationDate | date('d M Y, H:m') }}</td>
                        <td>{{ nft.likes }} </td>
                        <td>{{ nft.category.name }} </td>
                        <td>{{ nft.subCategory.name }} </td>
                        <td style="font-weight: bold;">{{ nft.price | round(5,"common") }} </td>
                        <td>{{ nft.currency.nodeLabel }} </td>
                        <td><u><a href="{{ path('profil',{'id':nft.owner.id}) }}" style="color:black">{{ nft.owner.username }}</a></u></td>

                    </tr>
                {% endfor %}

                </tbody>

            </table>
        </div>
            <div id="grid-view">
                <table class="table table-borderless table-striped border-dark mt-5" id="clientRanking">

                    <style>
                        .table-bg{
                            background: #dd2476 !important;
                        }

                    </style>
                    <thead >
                    <tr class="table-bg text-light">

                        <th onclick="sortOwnersNumbers(0)"># <i class="fa fa-arrows-v"></i></th>
                        <th scope="">Owner</th>
                        <th onclick="sortOwnersNumbers(2)">Volume <i class="fa fa-angle-double-down"></i></th>
                        <th class="" onclick="sortOwnersNumbers(3)">Floor Price <i class="fa fa-angle-double-down"></i></th>
                        <th onclick="sortOwnersNumbers(4)">Number of nfts <i class="fa fa-angle-double-down"></i></th>
                    </tr>
                    </thead>
                    <tbody class="bg-light">

                    {% for client in clients %}
                        <tr>
                            <td scope="row" style="font-weight: bold;">{{ loop.index }}</td>
                            <td><u><a href="{{ path('profil',{'id':client.id}) }}" style="color:black">{{ client.username }}</a></u></td>
                            <td style="font-weight: bold;">{{ volume[loop.index-1] }}</td>
                            <td style="font-weight: bold;">{{ floorPrice[loop.index-1] }} </td>
                            <td style="font-weight: bold;">{{ nombreNfts[loop.index-1] }} </td>
                        </tr>
                    {% endfor %}

                    </tbody>

                </table>
            </div>

            <div class="d-flex justify-content-center">
                <div id="navigation">
                    {{ knp_pagination_render(clients) }}
                </div>
            </div>
        </section>
        </div>
    </main>
{% endblock %}