
<h1>Welcome {{ email.toName }}!</h1>

<p>
    You made a new wallet "{{ walletLabel }}" as {{ username }} with the following email:
</p>
<p><code>{{ email.to[0].address }}</code></p>

<p>
    <a href="{{ url('activate-wallet',{'id': walletId} ) }}">Click here to activate your account</a>
</p>