{% extends "base.html.twig" %}
{% block title %}Cryfty | Update Wallet : {% endblock %}

{% block body %}
    <main class="main container">
        <div class="main__title main__title--create">
            <h2>Update Your Wallet ! </h2>
        </div>
        {{ form_start(update_form,{'attr':{'class': 'sign__form sign__form--create'}}) }}
        <div class="col-12 col-xl-6 row">
            <div class="col-sm-6">
                <small class="text-info ml-3">(Max Size : 5Mb / Extensions : PNG or JPEG)</small>
                <small class="text-danger ml-3"> {{ form_errors(update_form.image) }} </small>
                <div class="sign__file">
                    {{ form_row(update_form.image,{'attr':{'onChange':'readURL(this)'}}) }}
                </div>
            </div>
            <div class="col-sm-6"><img id="wallet-image" class="rounded-3" src="{{ asset("uploads/walletImages/defaultImage.png") }}"
                                       width="150" /></div>
        </div>
        <div class="col-12 col-xl-3">
            <div class="sign__group">
                {{ form_row(update_form.walletLabel) }}
            </div>
        </div>
        <div class="col-12 col-xl-3">
            <div class="sign__group">
                {{ form_row(update_form.nodeId) }}
            </div>
        </div>
        <div class="col-12 col-xl-3">
            {{ form_row(update_form.submit,{'label':'Update Wallet'}) }}
        </div>
        {{ form_end(update_form) }}
    </main>

    <script>
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#wallet-image')
                        .attr('src', e.target.result)
                        .width(150)

                };
                reader.readAsDataURL(input.files[0]);
            }
        }
    </script>
{% endblock %}