{% extends'base.html.twig' %}
{% block title 'Gerer les contacts' %}
{% block body %}
    <div class="container mt-4 "style="background: white">
        <h1>Gerer les contacts</h1>
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
        <a href="{{ path('Clientlist') }}" class="btn btn-primary">Client</a>
        <a href="{{ path('moderatorlist') }}" class="btn btn-primary">Moderator</a>

        <table class="table table-striped" width="1000" border="2">
            <thead>
            <tr>
                <th scope="col"> Username</th>
                <th scope="col"> Action</th>
            </tr>
            </thead>
            <tbody>
            {% for m in form %}
                <tr>
                    <form method="post">

                        <td>{{ m.name }}</td>
                          <td><a href="{{ path('contact_update',{'id': m.id }) }}">Update</a> </td>
                        <td><a href="{{ path('delete_contact',{'id': m.id }) }}">Delete</a> </td>
                    </form>
                </tr>

            {% endfor %}
            </tbody>
        </table>

    </div>
{% endblock %}