{% extends 'baseAdmin.html.twig' %}

{% block body %}
    <link href="img/favicon.png" rel="icon">
    <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Bootstrap core CSS -->
    <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!--external css-->
    <link href="lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="lib/bootstrap-fileupload/bootstrap-fileupload.css" />
    <link rel="stylesheet" type="text/css" href="lib/bootstrap-datepicker/css/datepicker.css" />
    <link rel="stylesheet" type="text/css" href="lib/bootstrap-daterangepicker/daterangepicker.css" />
    <link rel="stylesheet" type="text/css" href="lib/bootstrap-timepicker/compiled/timepicker.css" />
    <link rel="stylesheet" type="text/css" href="lib/bootstrap-datetimepicker/datertimepicker.css" />
    <!-- Custom styles for this template -->
    <link href="css/style.css" rel="stylesheet">
    <link href="css/style-responsive.css" rel="stylesheet">
    <!--<style>
        a{
            color: #F3F3F3;
            background-color: #222227;
            border-radius: 14px;
        }
        label{
            color: #1da1f2;
        }
        button{
            color: #F3F3F3;
            margin: 30px;
            background-color: #222227;
            width: calc(100% - 30px);
            border-radius: 14px;

        }
        input{
            color: #F3F3F3;
            background-color: #222227;
           margin: 0.5cm;
            border-radius: 14px;
            font-size: medium;

        }
        textarea{
            color: #F3F3F3;
            background-color: #222227;
            border-radius: 14px;
        }
        select{
            color: #F3F3F3;
            background-color: #222227;
            border-radius: 14px;
        }
    </style>-->
    <section id="main-content">
        <section class="wrapper site-min-height">
            <h3><i class="fa fa-angle-right"></i> Add a new article </h3>
            <div class="row mt">
                <div class="col-lg-12">
                    <div class="form-panel">
                        <div class="form-group">
                            {{ form_start(form) }}
                            <div class="comments">

                            </div>
                            {{ form_widget(form) }}
                            {{ form_row(form) }}
                        </div>
                        <button style="color: #bdbdbd">>>Add</button>
                        {{ form_end(form) }}
                    </div>
                    <a href=" {{ path('AfficheBAAD' )}} ">Back  </a>
                </div>

            </div>
        </section>
        <!-- /wrapper -->
    </section>







{% endblock %}