{% extends 'base.html.twig' %}

{% block title %}Hello TransactionController!{% endblock %}

{% block body %}

    <main class="main">
        <div class="container">
            <div class="row row--grid">
                <!-- breadcrumb -->
                <div class="col-12">
                    <ul class="breadcrumb">
                        <li class="breadcrumb__item"><a href="#">Panier</a></li>
                        <li class="breadcrumb__item breadcrumb__item--active">Paiement</li>
                    </ul>
                </div>
                <!-- end breadcrumb -->

                <!-- registration form -->
                <div class="sign__form--create">
                    <div class="sign">
                        <div class="sign__content" style="margin-left: 250px">
                            <div class="sign__form">
                                {{ form_start(f) }}
                                {{ form_row(f.montant) }}
                                {{ form_row(f.wallets) }}
                                {{ form_row(f.Payer) }}
                                {{ form_end(f) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

{% endblock %}
