{% extends 'baseAdmin.html.twig' %}
{% block title %}Hello CartController!{% endblock %}

{% block body %}
    <section id="main-content">
        <section class="wrapper site-min-height">
            <div><h3><i class="fa fa-angle-right"></i> Groups </h3>
                </div>
            <div class="row mt" >
                <div class="col-lg-12">
                    <section id="unseen" >

                        <style>
                            th,td {
                                text-align: center;
                            }
                        </style>


                        <div>

                            <table id="Groups" border="3" style="size: 150px" class="table table-bordered table-striped table-condensed " >
                                <thead>

                            <tr >
                                <th class="home__text"></th>

                                <th class="home__text">Name</th>
                                <th class="home__text">Owner </th>
                                <th class="home__text">Members </th>
                                <th class="home__text"> </th>
                            </tr>
                            </thead>
                            <tbody>

                            {% for group in groups %}
                                <tr class="group">
                                    <td class="home__text">{{ group.id }}</td>
                                    <td class="home__text">{{ group.nom }}</td>
                                    <td>{{ group.owner.username }}</td>

                                        <td class="home__text">
                                            {% for member in group.getParticipants %}
                                            {{ member.username }}<br>
                                            {% endfor %}
                                        </td>

                                    <td class="numeric"><a href="{{ path('delete_Group',{'id': group.id }) }}" class="btn btn-theme04 btn-sm"onclick="return confirm('are u sure?')"s>Delete</a></td>
                                </tr>



                            {% endfor %}
                            {{ knp_pagination_render(groups) }}
                            </tbody>
                            </table>


                        </div>
                    </section>
                </div>
            </div>
        </section>
        <!-- /wrapper -->
    </section>

{% endblock %}
